algorithmia>=1.0.0,<2.0
six
numpy==1.16.0 # if you need a different version, please change this value - bear in mind however that it may take longer to compile.
torchvision==0.5.0 # if you need a different version, please change this value - bear in mind however that it may take longer to compile.
torch>=1.3.0,<1.4.0 # if you need a different version, please change this value - bear in mind however that it may take longer to compile.